<p><%= folder_name %> collaborators</p>



<% if !collaborators.empty? %>
<ul>
    <% collaborators.each do |c| %>
        <% if !c.accessible_by.nil? %>
            <li><%= "#{c.accessible_by.name} - #{c.accessible_by.login} - Since: #{c.created_at.to_datetime.strftime("%Y/%m/%d - %T")} - Level: #{c.role}"%>
            | <%= link_to "Edit", folder_edit_collaboration_path(collaboration_id: c.id, folder_id: folder_id)%> 
            | <%= link_to "Remove", folder_remove_collaboration_path(collaboration_id: c.id, folder_id: folder_id) %>
            </li>
        <% end %>
    <%end%>
</ul>
<% else %>
<p>No collaborators on this folder yet. Add some on the 'Add' tab!</p>
<% end %>